<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Item List
    </ion-title>
    <ion-buttons end>
    	<button navPush="AddItem" ion-button>
    		<ion-icon name='add'></ion-icon>
    	</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-list-header>
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of itemsList$ | async" detail-push navPush="EditItem" [navParams]="{item: item}">
        {{item.name}}
    </ion-item>    
  </ion-list>
  <!-- <p *ngIf="!itemsList$[0]" center> Please add item</p> -->
</ion-content>
